@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input__field {
    @apply border-none 
        w-[275px] 
        py-3 px-5 
        rounded-full
        shadow
        focus-visible:outline-none
        focus:shadow-lg
        focus:ring-0;
  }
}
